# Loading Items

In [1]:
import pandas as pd
import sqlite3

# import sys
# sys.path.insert(0, '../preprocess')

import importlib
import reduce_memory as rm
importlib.reload(rm)

import preprocess
importlib.reload(preprocess)

memory used before preprocess:  9.33704

downcasting integers for: ['mid', 'project_id']

reduced memory usage for:   mid          from     3.11 to     1.56
reduced memory usage for:   project_id   from     3.11 to     1.56

available RAM: svmem(total=8589934592, available=2061066240, percent=76.0, used=6425350144, free=17256448, active=2052722688, inactive=2043809792, wired=2328817664)
available RAM: svmem(total=8589934592, available=2061172736, percent=76.0, used=6425350144, free=17362944, active=2052722688, inactive=2043809792, wired=2328817664)

memory used after preprocess:  6.22472
converting emotion                        size:  26.63	->	 3.36
converting medium                         size:  26.53	->	 3.36
memory used before preprocess:  9.33704

downcasting integers for: ['mid', 'project_id']

reduced memory usage for:   mid          from     3.11 to     1.56
reduced memory usage for:   project_id   from     3.11 to     1.56

available RAM: svmem(total=8589934592, available=2010791936, percent=76.6, used=6202646528, free=242831360, active=2159476736, inactive=1767960576, wired=2275209216)
available RAM: svmem(total=8589934592, available=2010918912, percent=76.6, used=6202646528, free=242958336, active=2159476736, inactive=1767960576, wired=2275209216)

memory used after preprocess:  6.22472
converting attribute                      size:  30.9	->	 3.54
converting label                          size:  28.52	->	 3.54
memory used before preprocess:  9.33704

downcasting integers for: ['mid', 'project_id']

reduced memory usage for:   mid          from     3.11 to     1.56
reduced memory usage for:   project_id   from     3.11 to     1.56

available RAM: svmem(total=8589934592, available=1813835776, percent=78.9, used=6305316864, free=60489728, active=2287087616, inactive=1753346048, wired=2264883200)
available RAM: svmem(total=8589934592, available=1814073344, percent=78.9, used=6305337344, free=60727296, active=2287108096, inactive=1753346048, wired=2264883200)

memory used after preprocess:  6.22472
converting emotion                        size:  26.63	->	 3.36
converting medium                         size:  26.53	->	 3.36
memory used before preprocess:  9.33704

downcasting integers for: ['mid', 'project_id']

reduced memory usage for:   mid          from     3.11 to     1.56
reduced memory usage for:   project_id   from     3.11 to     1.56

available RAM: svmem(total=8589934592, available=1887608832, percent=78.0, used=6020657152, free=290435072, active=2124267520, inactive=1597173760, wired=2299215872)
available RAM: svmem(total=8589934592, available=1887719424, percent=78.0, used=6020665344, free=290545664, active=2124275712, inactive=1597173760, wired=2299215872)

memory used after preprocess:  6.22472
converting attribute                      size:  30.9	->	 3.54
converting label                          size:  28.52	->	 3.54

In [2]:
connection = sqlite3.connect("../data/bam-crowd-only.sqlite")
c = connection.cursor()

## Loading URLS

In [3]:
modules = pd.read_sql(
    "select * from modules",
    connection
)

In [4]:
modules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389040 entries, 0 to 389039
Data columns (total 5 columns):
mid               389040 non-null int64
project_id        389040 non-null int64
src               389040 non-null object
mature_content    389040 non-null int64
license           389040 non-null object
dtypes: int64(3), object(2)
memory usage: 14.8+ MB

In [5]:
modules.head()

,mid,project_id,src,mature_content,license
0,489,40030,https://mir-s3-cdn-cf.behance.net/project_modu...,0,cc by-nc
1,1004,40040,https://mir-s3-cdn-cf.behance.net/project_modu...,0,cc by-nc
2,1053,40041,https://mir-s3-cdn-cf.behance.net/project_modu...,0,cc by-nc
3,1065,40041,https://mir-s3-cdn-cf.behance.net/project_modu...,0,cc by-nc
4,1067,40043,https://mir-s3-cdn-cf.behance.net/project_modu...,0,cc by-nc

In [6]:
modules.drop(['mature_content', 'license'], axis=1, inplace=True)

In [7]:
modules.head()

    mid  project_id                                                src
0   489       40030  https://mir-s3-cdn-cf.behance.net/project_modu...
1  1004       40040  https://mir-s3-cdn-cf.behance.net/project_modu...
2  1053       40041  https://mir-s3-cdn-cf.behance.net/project_modu...
3  1065       40041  https://mir-s3-cdn-cf.behance.net/project_modu...
4  1067       40043  https://mir-s3-cdn-cf.behance.net/project_modu...

In [8]:
modules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389040 entries, 0 to 389039
Data columns (total 3 columns):
mid           389040 non-null int64
project_id    389040 non-null int64
src           389040 non-null object
dtypes: int64(2), object(1)
memory usage: 8.9+ MB

In [9]:
modules_compressed = rm.compress_X(modules, {'src'})

memory used before preprocess:  9.33704

downcasting integers for: ['mid', 'project_id']

reduced memory usage for:   mid          from     3.11 to     1.56
reduced memory usage for:   project_id   from     3.11 to     1.56

available RAM: svmem(total=8589934592, available=1749782528, percent=79.6, used=6105354240, free=205799424, active=2155167744, inactive=1543983104, wired=2406203392)
available RAM: svmem(total=8589934592, available=1749782528, percent=79.6, used=6104686592, free=205799424, active=2154225664, inactive=1543983104, wired=2406477824)

memory used after preprocess:  6.22472

In [10]:
modules_compressed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389040 entries, 0 to 389039
Data columns (total 3 columns):
mid           389040 non-null int32
project_id    389040 non-null int32
src           389040 non-null object
dtypes: int32(2), object(1)
memory usage: 5.9+ MB

In [12]:
modules_compressed.set_index('mid')
modules_compressed.head()

    mid  project_id                                                src
0   489       40030  https://mir-s3-cdn-cf.behance.net/project_modu...
1  1004       40040  https://mir-s3-cdn-cf.behance.net/project_modu...
2  1053       40041  https://mir-s3-cdn-cf.behance.net/project_modu...
3  1065       40041  https://mir-s3-cdn-cf.behance.net/project_modu...
4  1067       40043  https://mir-s3-cdn-cf.behance.net/project_modu...

## Loading Scores

In [13]:
scores = pd.read_sql(
    "select * from scores",
    connection,
    index_col="mid"
)

In [14]:
scores.sort_index(axis=1, inplace=True)

In [15]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 372777 entries, 489 to 222446005
Data columns (total 20 columns):
content_bicycle      372777 non-null float64
content_bird         372777 non-null float64
content_building     372777 non-null float64
content_cars         372777 non-null float64
content_cat          372777 non-null float64
content_dog          372777 non-null float64
content_flower       372777 non-null float64
content_people       372777 non-null float64
content_tree         372777 non-null float64
emotion_gloomy       372777 non-null float64
emotion_happy        372777 non-null float64
emotion_peaceful     372777 non-null float64
emotion_scary        372777 non-null float64
media_3d_graphics    372777 non-null float64
media_comic          372777 non-null float64
media_graphite       372777 non-null float64
media_oilpaint       372777 non-null float64
media_pen_ink        372777 non-null float64
media_vectorart      372777 non-null float64
media_watercolor     372777 non-null float64
dtypes: float64(20)
memory usage: 59.7 MB

In [16]:
scores.head()

,content_bicycle,content_bird,content_building,content_cars,content_cat,content_dog,content_flower,content_people,content_tree,emotion_gloomy,emotion_happy,emotion_peaceful,emotion_scary,media_3d_graphics,media_comic,media_graphite,media_oilpaint,media_pen_ink,media_vectorart,media_watercolor
mid,,,,,,,,,,,,,,,,,,,,
489,-8.194265,-6.825498,-1.033735,-4.741513,-13.083484,-5.438437,-6.437519,-0.372203,-0.140162,-5.251916,-0.784109,-0.295248,-10.125443,-13.048631,-13.372336,-11.520514,-8.102950,-10.792016,-10.279009,-11.912029
1004,-5.908639,-7.481776,-2.769971,-8.715858,-9.379574,-5.466529,-1.974876,-0.110869,-4.740625,-1.939304,-5.214772,-3.770542,-4.781479,-10.137968,-9.871041,-8.218750,-9.769642,-9.929028,-9.538937,-17.242306
1053,-8.682774,-11.664145,-2.258289,-5.678706,-23.007246,-9.459610,-15.922831,-0.052687,-9.073513,-1.498988,-4.624222,-3.624131,-3.692783,-8.926823,-7.796127,-9.731888,-6.789311,-8.929226,-8.575558,-18.276842
1065,-7.429687,-5.884630,-0.526354,-3.525297,-9.030757,-6.339474,-9.055132,-1.939328,-3.102335,-0.523028,-5.766580,-3.715596,-3.109094,-6.108827,-9.137621,-7.905422,-7.122383,-8.709348,-8.250728,-16.156538
1067,-6.541219,-6.800467,-2.133614,-4.348733,-9.875690,-4.610362,-10.881371,-0.225947,-6.983145,-3.240254,-1.745344,-3.466125,-4.812078,-9.403267,-8.060266,-7.940952,-8.474461,-7.462641,-8.906570,-14.413774

In [18]:
# scores.columns
# 'content_bicycle'.split('_')
# type (scores)

In [19]:
def drop_cols(df, col_names, operation):
    """
    Perform an operation to the column if the first part 
    of the name begins with a certain name.
    Ex. The first part of content_bicycle is content
    
    :param df: dataframe 
    :type  df: pandas.core.frame.DataFrame
    :param col_names: string to match
    :type  col_names: str
    :returns: dataframe 
    :rtype:   pandas.core.frame.DataFrame
    """
    
    for col in df.columns:
        if col.split('_')[0] == col_names:
            if operation == "drop":
                df = df.drop([col], axis=1)
            else:
                raise ValueError("Not an avaliable action")
    
    return df
    
# we are not considering content
scores = drop_cols(scores, "content", "drop")
scores.head()

,emotion_gloomy,emotion_happy,emotion_peaceful,emotion_scary,media_3d_graphics,media_comic,media_graphite,media_oilpaint,media_pen_ink,media_vectorart,media_watercolor
mid,,,,,,,,,,,
489,-5.251916,-0.784109,-0.295248,-10.125443,-13.048631,-13.372336,-11.520514,-8.102950,-10.792016,-10.279009,-11.912029
1004,-1.939304,-5.214772,-3.770542,-4.781479,-10.137968,-9.871041,-8.218750,-9.769642,-9.929028,-9.538937,-17.242306
1053,-1.498988,-4.624222,-3.624131,-3.692783,-8.926823,-7.796127,-9.731888,-6.789311,-8.929226,-8.575558,-18.276842
1065,-0.523028,-5.766580,-3.715596,-3.109094,-6.108827,-9.137621,-7.905422,-7.122383,-8.709348,-8.250728,-16.156538
1067,-3.240254,-1.745344,-3.466125,-4.812078,-9.403267,-8.060266,-7.940952,-8.474461,-7.462641,-8.906570,-14.413774

In [20]:
def create_labels(df):
    """
    Create the labels using the scores

    :param df: dataframe 
    :type  df: pandas.core.frame.DataFrame
    :returns: dataframe of the labels
    :rtype:   pandas.core.frame.DataFrame
    """

    emotion_df = pd.DataFrame()
    media_df = pd.DataFrame()

    for col in df.columns:
        if col.split('_')[0] == "emotion":
            emotion_df = pd.concat([emotion_df, df[col]], axis=1)
        if col.split('_')[0] == "media":
            media_df = pd.concat([media_df, df[col]], axis=1)

    emotion_df.rename(
        lambda x: x.split('_')[1],
        axis='columns',
        inplace=True
    )
    media_df.rename(
        lambda x: x.split('_')[1],
        axis='columns',
        inplace=True
    )

    emotion_labels = emotion_df.idxmax(axis=1)
    media_labels = media_df.idxmax(axis=1)

    result = pd.DataFrame({
        "emotion": emotion_labels,
        "medium": media_labels
    })

    result = rm.convert_obj_columns_to_cat(result, {})
#     print (result)
    return result
#     return emotion_labels, media_labels
    # return emotion_df, media_df

In [21]:
labels = create_labels(scores)
labels.info()

converting emotion                        size:  26.63	->	 3.36
converting medium                         size:  26.53	->	 3.36
<class 'pandas.core.frame.DataFrame'>
Int64Index: 372777 entries, 489 to 222446005
Data columns (total 2 columns):
emotion    372777 non-null category
medium     372777 non-null category
dtypes: category(2)
memory usage: 3.6 MB

## Merging

In [23]:
result = pd.concat([modules_compressed, labels], axis=1,join='inner')
result.head()

,mid,project_id,src,emotion,medium
489,68111,49020,https://mir-s3-cdn-cf.behance.net/project_modu...,peaceful,oilpaint
1004,107729,55918,https://mir-s3-cdn-cf.behance.net/project_modu...,gloomy,graphite
1053,110651,56498,https://mir-s3-cdn-cf.behance.net/project_modu...,gloomy,oilpaint
1065,111121,56608,https://mir-s3-cdn-cf.behance.net/project_modu...,gloomy,3d
1067,111317,56245,https://mir-s3-cdn-cf.behance.net/project_modu...,happy,pen

In [24]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4010 entries, 489 to 389030
Data columns (total 5 columns):
mid           4010 non-null int32
project_id    4010 non-null int32
src           4010 non-null object
emotion       4010 non-null category
medium        4010 non-null category
dtypes: category(2), int32(2), object(1)
memory usage: 102.4+ KB

In [25]:
result.to_pickle('../data/processed_data.pkl')

In [26]:
opened = pd.read_pickle('../data/processed_data.pkl')
opened.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4010 entries, 489 to 389030
Data columns (total 5 columns):
mid           4010 non-null int32
project_id    4010 non-null int32
src           4010 non-null object
emotion       4010 non-null category
medium        4010 non-null category
dtypes: category(2), int32(2), object(1)
memory usage: 101.9+ KB

In [27]:
import preprocess

## Crowd Source Labels

In [28]:
crowd_labels = pd.read_sql(
    "select * from crowd_labels",
    connection,
    index_col="mid"
)

In [29]:
classes = crowd_labels['attribute'].apply(lambda x: x.split('_')[0])

In [30]:
crowd_labels.loc[classes != "content"].head()

               attribute     label
mid
152469509  emotion_happy  positive
115802119  emotion_happy  positive
145489929  emotion_happy  positive
143785995  emotion_happy  positive
99428137   emotion_happy  positive

In [31]:
crowd_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393022 entries, 2588676 to 111747071
Data columns (total 2 columns):
attribute    393022 non-null object
label        393022 non-null object
dtypes: object(2)
memory usage: 9.0+ MB

In [32]:
crowd_labels['attribute'].unique()

array(['content_building', 'emotion_happy', 'content_flower',
       'content_bicycle', 'media_comic', 'content_people',
       'media_3d_graphics', 'content_dog', 'media_vectorart',
       'emotion_scary', 'emotion_gloomy', 'media_graphite',
       'emotion_peaceful', 'media_pen_ink', 'content_cars',
       'media_oilpaint', 'content_cat', 'content_tree', 'content_bird',
       'media_watercolor'], dtype=object)

In [33]:
crowd_labels = rm.convert_obj_columns_to_cat (crowd_labels, {})

converting attribute                      size:  30.9	->	 3.54
converting label                          size:  28.52	->	 3.54

In [34]:
crowd_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393022 entries, 2588676 to 111747071
Data columns (total 2 columns):
attribute    393022 non-null category
label        393022 non-null category
dtypes: category(2)
memory usage: 3.7 MB

In [35]:
crowd_labels.head()

                  attribute     label
mid
2588676    content_building  positive
146997253  content_building  positive
15663110   content_building  positive
15663114   content_building  positive
2588684    content_building  positive

In [36]:
# modules_compressed
crowd_labels.sort_index(inplace=True)

In [43]:
print (modules_compressed.shape)
print (crowd_labels.shape)

(389040, 3)
(393022, 2)

In [54]:
modules_compressed.set_index(['mid'], inplace=True)

In [55]:
modules_compressed.head()

      project_id                                                src
mid
489        40030  https://mir-s3-cdn-cf.behance.net/project_modu...
1004       40040  https://mir-s3-cdn-cf.behance.net/project_modu...
1053       40041  https://mir-s3-cdn-cf.behance.net/project_modu...
1065       40041  https://mir-s3-cdn-cf.behance.net/project_modu...
1067       40043  https://mir-s3-cdn-cf.behance.net/project_modu...

In [46]:
crowd_labels.head()

             attribute     label
mid
489   emotion_peaceful  positive
1053  emotion_peaceful    unsure
1065    emotion_gloomy    unsure
1067  emotion_peaceful    unsure
1247    media_oilpaint  negative

In [60]:
crowd_labels_merged = pd.concat([modules_compressed, crowd_labels], axis=1, join='inner')
crowd_labels_merged.head()

,project_id,src,attribute,label
mid,,,,
489,40030,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_peaceful,positive
1053,40041,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_peaceful,unsure
1065,40041,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_gloomy,unsure
1067,40043,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_peaceful,unsure
1247,40053,https://mir-s3-cdn-cf.behance.net/project_modu...,media_oilpaint,negative

In [57]:
opened = pd.read_pickle('../data/processed_data_crowd.pkl')
opened.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393022 entries, 489 to 222446005
Data columns (total 4 columns):
project_id    393022 non-null int32
src           393022 non-null object
attribute     393022 non-null category
label         393022 non-null category
dtypes: category(2), int32(1), object(1)
memory usage: 8.2+ MB

In [58]:
opened.head()

,project_id,src,attribute,label
mid,,,,
489,40030,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_peaceful,positive
1053,40041,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_peaceful,unsure
1065,40041,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_gloomy,unsure
1067,40043,https://mir-s3-cdn-cf.behance.net/project_modu...,emotion_peaceful,unsure
1247,40053,https://mir-s3-cdn-cf.behance.net/project_modu...,media_oilpaint,negative