In [2]:
import pandas as pd
import numpy as np

In [3]:
websites = pd.read_csv('websites.csv')
census_data = pd.read_csv("CafesandCoffeeshops_All_Chicago.csv")

In [4]:
only_links = websites.drop(['Num', 'Unnamed: 0'], axis=1)
only_links.head()

                                                Link
0          /biz/the-wormhole-coffee-chicago?osq=cafe
1     /biz/the-avondale-coffee-club-chicago?osq=cafe
2  /biz/limitless-coffee-fulton-market-chicago?os...
3           /biz/hero-coffee-bar-chicago-14?osq=cafe
4               /biz/purple-llama-chicago-3?osq=cafe

In [5]:
only_links = only_links.iloc[:,0].str.replace('/biz/', '')
only_links = only_links.str.replace('-', ' ')
#z = y.str.replace('?osq=cafe', '')
#y.sort_values()
z = only_links.str.contains("ARGO TEA", case=False).any()
z

True

In [5]:
census_data["doing_busi"].sort_values().head()

27                     1155 CAFE
539            240 CAFE & LOUNGE
386          90 MILES CUBAN CAFE
444    90 MILES CUBAN CAFE, INC.
367                ABSINTHE CAFE
Name: doing_busi, dtype: object

In [6]:
import random
random_sample = []
for i in range(30):
    z = (random.randint(1,614))
    random_sample.append (census_data["doing_busi"][z])
random_sample

["GEJA'S CAFE",
 'PINK KROKODILE CAFE',
 'Starbucks Coffee #26720',
 'STARBUCKS COFFEE #2929',
 'ROYAL COFFEE',
 'DARK MATTER COFFEE',
 'Dollop Coffee and Tea',
 'THE MEDICI',
 'LEONIDAS CAFE CHOCOLATERIE',
 'ARGO TEA UCH, LLC',
 "ARTIST'S CAFE",
 'STARBUCKS COFFEE #22423',
 'KINGSBURY STREET CAFE',
 'CAFE DESCARTES COMPANY',
 'EXPRESSION LAVAZZA',
 'THE GODDESS AND GROCER',
 'BERRISTA COFFEE',
 'STARBUCKS COFFEE #10905',
 'WEREWOLF COFFEE BAR',
 'CORNER BAKERY CAFE',
 'STARBUCKS COFFEE  #2635',
 'Starbucks Coffee #23421',
 'SHOKOLAD PASTRY & CAFE, INC',
 'STARBUCKS COFFEE #2329',
 'STARBUCKS COFFEE #10506',
 'STARBUCKS COFFEE #206',
 'CORNER BAKERY CAFE',
 'THE GODDESS AND GROCER',
 'STARBUCKS COFFEE #2375',
 'STARBUCKS']

In [19]:
isthere = only_links.str.contains("SHOKOLAD", case=False)
print (isthere.any())
print (only_links[isthere])

False
Series([], Name: Link, dtype: object)

In [ ]:
# 1 if match, 0 if no match
# PINK KROKODILE CAFE not in yelp
# KINGSBURY STREET CAFE: closed
# BERRISTA Coffee couldn't be found in Yelp
list_of_matches = [0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,1]